annotated-types==0.7.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
deciphon-core==1.0.4
deciphon-poster==0.1.2
deciphon-worker==0.2.3
h3daemon==0.14.7
hmmer==3.4.0.2
idna==3.10
lockfile==0.12.2
loguru==0.7.3
markdown-it-py==3.0.0
mdurl==0.1.2
paho-mqtt==2.1.0
pidlockfile==0.3
psutil==6.1.1
pycparser==2.22
pydantic-core==2.27.2
pydantic-settings==2.7.1
pydantic==2.10.5
pygments==2.19.1
python-daemon==3.1.2
python-dotenv==1.0.1
requests-toolbelt==1.0.0
requests==2.32.3
rich==13.9.4
shellingham==1.5.4
typer==0.12.5
typing-extensions==4.12.2
urllib3==2.3.0
